In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('flattened_data.csv')

C:\Users\maxma\AppData\Local\Temp\ipykernel_25616\1381573417.py:1: DtypeWarning: Columns (11,12,14,15,21,22,23,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('flattened_data.csv')

In [3]:
df

,id,tripUpdate.trip.tripId,tripUpdate.trip.startTime,tripUpdate.trip.startDate,tripUpdate.trip.routeId,tripUpdate.trip.directionId,tripUpdate.vehicle.id,tripUpdate.timestamp,tripUpdate.vehicle.label,tripUpdate.trip.scheduleRelationship,...,vehicle.currentStatus,vehicle.timestamp,vehicle.stopId,vehicle.vehicle.id,vehicle.vehicle.label,vehicle.occupancyStatus,vehicle.occupancyPercentage,vehicle.multiCarriageDetails,vehicle.position.speed,first_stop_time
0,63100735,63100735,14:30:00,20240815.0,100,0.0,y1404,2024-08-15 18:20:51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15 18:30:00
1,63473633,63473633,15:10:00,20240815.0,441442,0.0,y3356,2024-08-15 18:20:52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15 19:10:00
2,63071440,63071440,14:38:00,20240815.0,17,1.0,y1830,2024-08-15 18:20:55,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15 18:38:00
3,63480392,63480392,14:20:00,20240815.0,28,0.0,y1250,2024-08-15 18:20:53,1250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15 18:21:09
4,63288413,63288413,14:44:00,20240815.0,Red,0.0,R-547DFF8B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15 18:50:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51448,y1875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,STOPPED_AT,2024-08-15 18:50:51,1514,y1875,1875,MANY_SEATS_AVAILABLE,20.0,NaN,NaN,NaN
51449,y1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,IN_TRANSIT_TO,2024-08-15 18:50:52,73,y1927,1927,MANY_SEATS_AVAILABLE,20.0,NaN,NaN,NaN
51450,y2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,IN_TRANSIT_TO,2024-08-15 18:50:49,5695,y2018,2018,MANY_SEATS_AVAILABLE,0.0,NaN,NaN,NaN
51451,y1682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,STOPPED_AT,2024-08-15 18:50:52,37618,y1682,1682,MANY_SEATS_AVAILABLE,0.0,NaN,NaN,NaN
51452,1701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,IN_TRANSIT_TO,2024-08-15 18:50:22,ER-0183-02,1701,1701,NaN,NaN,NaN,7.6,NaN

In [5]:
for each in df.columns:
    print(each)

id
tripUpdate.trip.tripId
tripUpdate.trip.startTime
tripUpdate.trip.startDate
tripUpdate.trip.routeId
tripUpdate.trip.directionId
tripUpdate.vehicle.id
tripUpdate.timestamp
tripUpdate.vehicle.label
tripUpdate.trip.scheduleRelationship
source_file
vehicle.trip.tripId
vehicle.trip.startTime
vehicle.trip.startDate
vehicle.trip.scheduleRelationship
vehicle.trip.routeId
vehicle.trip.directionId
vehicle.position.latitude
vehicle.position.longitude
vehicle.position.bearing
vehicle.currentStopSequence
vehicle.currentStatus
vehicle.timestamp
vehicle.stopId
vehicle.vehicle.id
vehicle.vehicle.label
vehicle.occupancyStatus
vehicle.occupancyPercentage
vehicle.multiCarriageDetails
vehicle.position.speed
first_stop_time

In [6]:
# try to create prediction algorithm based on the vertical feature
# notes : try to look at distances between lat / long 
# try to match to the closest point on the route